*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    height: 70px;
    border: 1px solid #999;
    position: relative;
  
}
#logo{
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #000;
    position: absolute;
    left: 4%;
    top: 40%;
}
#logo span{
    font-weight: 900;
    font-size: 50px;
    color: blue;
}
.nav{
    position: absolute;
    top: 50%;
    right:2%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}


.link{
    border-radius: 50%;
    margin-right: 28px;
    width: 50px;
    height: 50px;
    background: rgb(231, 228, 228);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link i{
    color: #000;
    font-size: 17px;
}
.link:hover{
    opacity: 1;
}
.nav1{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.nav1 i{
    font-size: 30px;
    margin-right: 80px;
    cursor: pointer;
    height: 40px;
}
.passiveicon{
    color: #999;
    border-bottom: none;
}
.activeicon{
    border-bottom:4px solid blue ;
    color: blue;
}
#profil{
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    opacity: 0.8;
}
.hidden{
    display: none;
}
/* changer photo start */
.dropdown{
    z-index: 99;
    transition: 1s;
    position: absolute;
    right: -5%;
    top: 100%;
    width: 200px;
    height: 80px;
    border: 1PX solid #999;
    z-index: 999999;
    background: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown input{
    width: 60%;
    margin-top: 7px;
}
.dropdown a:hover{
    text-decoration: underline;
}
.dropdown a{
    color: blue;
    font-weight: bold;
    font-size: 14px;
}
#profil_a:hover + .dropdown{
    display: flex;
}

/* changer photo end */
#profil:hover{
    opacity: 1;
}
/* //end header */
#sect1{
    width: 100%;
    height: 200px;
    background: rgb(30, 29, 29);
    color: #fff;
    position: relative;
}
#sect1 h1{
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    position: absolute;
    top: 35%;
    left: 25%;   
}
.links{
    position: absolute;
    bottom: 10%;
    left: 25%;
    color: #fff;
}

.links a:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
}
.links a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.linkspassive{
    opacity: 0.8;
    border-bottom: none;
}
.linksactive{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    opacity: 1;  
}
#sect2{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #000;
    background: white;
    position: relative;
}
.videos-cont{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}
.video{
    width: 250px;
    height: 300px;
    background: #fff;
    margin-right: 15px;
    border: 1px solid #999;
    position: relative;
   
}
.video:hover{
    box-shadow: 0.5px 0.5px 2px #999, -0.5px -0.5px 2px #999;
    transform: scale(1.1);
}
.picture{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #999;
    opacity: 0.75;
    cursor: pointer;
}
.picture:hover{
    opacity: 1;
}
.details{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.details h5{
    padding: 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 10px;
}
.details a{
    color: #000;
}
.details a span{
    color: blue;
    font-weight: bold;
}
.pourcentage{
    margin-top: 10px;
   
    height: 5px;
     background: blue;
     text-align: center;
}
.p70{
    width: 70%;
}
.p50{
    width: 50%;
}
.p90{
    width: 90%;
}
.details h6{
    color: #999;
    font-style: italic;
    margin-top: 7px;
}
.btn:hover{
    transform: scale(1.1);
}
.btn{
    background: #000;
    color: #fff;
    width: 50%;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
}
#sect3{
    width: 100%;
    height: 90px;
    background: rgb(30, 29, 29);
    color: #fff;
    position: relative;
    overflow: hidden;
    
}
#sect3 .h-container{
    position: absolute;
    width: 100%;
    top: 15%;
    left:5%;
    }
#sect3 .h-container h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
#sect3 .h-container h6{
    font-size: 12px;
    font-style: italic;
    opacity: 0.85;
    margin-top: 7px;
}
#enseigner{
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    width: 170px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.passive_ens{
    background: rgb(30, 29, 29);
}
#enseigner:hover{
    background: rgb(49, 49, 49);
}
/* resonsive screen start */
/* responsive header nav start */
   @media(max-width:1100px){
    .link{
        margin-right: 14px;
    }
    .nav1{
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .nav1 i{
        font-size: 30px;
        margin-right: 40px;
        cursor: pointer;
        height: 40px;
    }
   }
   @media(max-width:850px){
       .link{
        width: 40px;
        height: 40px;
       }       
       .nav1 i{
        font-size: 25px;
        margin-right: 40px;
        cursor: pointer;
        height: 30px;
    }
   }
   @media(max-width:740px){
    .nav1{
        display: none;
    }
    }
    @media(max-width:500px){
        .link{
            width: 30px;
            height: 30px;
            margin-right: 5px;
           }  
           .link i{
            font-size: 12px;

           }
           #profil{
            width: 30px;
            height: 30px;
           }
           #logo{
            font-size: 24px;
            left: 2%;
        }
        #logo span{
            font-size: 30px;
        }
    }
   
/* responsive header nav end */

/* resoonsive sect1 start */
@media(max-width:1050px){
   
    #sect1 h1{
        left: 15%;   
    }
    .links{
        left: 15%;
    }
}
@media(max-width:903px){
   
    #sect1 h1{
        left: 8%;   
    }
    .links{
        left: 8%;
    }
}
@media(max-width:837px){
    .links{
        left: 8%;
    }
    .links a{
        font-size: 17px;
        margin-right: 15px;
    }
}
#plus{
    display: none;
}
@media(max-width:700px){
    .links a{
        font-size: 14px;
        margin-right: 8px;
    }
    #outils{
        display: none;
    }
}

@media(max-width:550px){
    #plus{
        display: inline-block;
    }
    #outils{
        display: none;
    }
}
@media(max-width:450px){
    #sect1{
        height: 120px;
    }
   #sect1 h1{
    font-size:27px;
   }
    #favoris{
        display: none;
    }
}
@media(max-width:337px){
    #sect1{
        height: 120px;
    }
   #sect1 h1{
    
    font-size:23px;
   }
   .links a{
    font-size: 12px;
    margin-right: 7px;
   }
}
/* resoonsive sect1 end */
/* responsive sect3 start */
     @media(max-width:790px){
        #sect3 .h-container h2{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
        }
        #sect3 .h-container h6{
            font-size: 10px;
            font-style: italic;
            opacity: 0.85;
            margin-top: 7px;
        }
       
     }   

      @media(max-width:680px){
        #sect3{
            display: flex;
            flex-direction: column;
            height: 140px;
        }
        #sect3 .h-container{
            position: static;
            padding-left: 10%;
            padding-top: 10px;
        }
        #sect3 #enseigner{
            position: static;
            margin-top: 30px;
            margin-left: 10%;
        }
      }
      @media(max-width:324px){
        #sect3 #enseigner{
            position: absolute;
            margin-top: 10px;
            bottom: 1%;
            left: 50%;
            margin-left: 0%;
            transform: translateY(0);
            transform: translateX(-50%);
            height: 40px;
        }
        #sect3 .h-container h2{
            font-size: 23px;
        }
        #sect3 .h-container h6{
            font-size: 10px;
            font-style: italic;
            opacity: 0.85;
            margin-top: 7px;
        }
      }
/* responsive sect3 end */
  /*  responsive sect2 start */
       @media(max-width:1100px){
        .video{
            width: 220px;
            height: 270px;
            background: #fff;
            margin-right: 15px;
        }
      }
      @media(max-width:945px){
        .video{
            width: 200px;
            height: 250px;
            background: #fff;
            margin-right: 15px;
        }
        .v4{
            display: none;
        }
      }
      @media(max-width:660px){
        .v3{
            display: none;
        }
        .video{
            width: 250px;
            height: 300px;
            background: #fff;
            margin-right: 15px;
        }
      }
      @media(max-width:550px){
        
        .video{
            width: 210px;
            height: 260px;
            background: #fff;
            margin-right: 10px;
        }
      }
      #previous{
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        font-size: 35px;
        color: #000;
        text-shadow: 1px 1px 1px #999,-1px -1px 1px #999;
        font-weight: bold;
        cursor: pointer;  
        z-index: 99999999999999;
    }

      #next{
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        font-size: 35px;
        color: #000;
        text-shadow: 1px 1px 1px #999,-1px -1px 1px #999;
        font-weight: bold;
        cursor: pointer;
        z-index: 99999999999999;
      }
      @media(max-width:450px){
       #sect2{
           height:330px ;
        }
        .v2{
            display: none;
        }
        .video{
            width: 250px;
            height: 300px;
            background: #fff;
            margin-right: 0px;
        }
        #next,#previous{
            display: block;
        }
      }
      @media(max-width:330px){
        .video{
            width: 220px;
            height: 270px;
            background: #fff;
            margin-right: 0px;
        }
        #next{
            right: 2%;
        }
        #previous{
            left: 2%;
        }
      }
   /*  responsive sect2 start */



/* resonsive screen end */
